DISCORD_TOKEN=your_discord_bot_token
DISCORD_CLIENT_ID=your_discord_application_client_id
DISCORD_GUILD_ID=1377330063829110978
APPLICATION_CHANNEL_ID=1377330065595170856
STAFF_ROLE_ID=
ACCEPTED_ROLE_ID=
ADMIN_ROLE_IDS=
ADMIN_USER_IDS=1455704723381551239
STAFF_ROLE_IDS=
POLICE_CHIEF_ROLE_IDS=
MEDIC_CHIEF_ROLE_IDS=
POLICE_ROLE_IDS=
MEDIC_ROLE_IDS=
WEBSITE_ORIGIN=https://lossantosmognolia.web.app
PORT=3000
DATA_DIR=./data
